<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-5PKB9KPL");
    </script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/src/assets/main_logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO -->
    <title>업브렐라(UPbrella) | 공유 우산 플랫폼</title>
    <meta name="title" content="업브렐라(UPbrella) | 공유 우산 플랫폼" />
    <meta
      name="description"
      content="지구를 지키는 작은 우산, 업브렐라를 펼쳐주세요! A Better Choice, UPbrella"
    />
    <meta
      name="keywords"
      content="업브렐라, UPbrella, upbrella, Upbrella, 공유 우산 플랫폼, 우산 공유 플랫폼, 공유 우산, 우산, 공유 우산 서비스, 신촌, 연세대학교"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="업브렐라(UPbrella) | 공유 우산 플랫폼" />
    <meta property="og:site_name" content="업브렐라(UPbrella) | 공유 우산 플랫폼" />
    <meta
      property="og:description"
      content="지구를 지키는 작은 우산, 업브렐라를 펼쳐주세요! A Better Choice, UPbrella"
    />
    <meta property="og:image" content="https://upbrella.co.kr/assets/section3-af1c1a5c.png" />
    <meta property="og:url" content="https://upbrella.co.kr/" />
    <meta name="twitter:title" content="업브렐라(UPbrella) | 공유 우산 플랫폼" />
    <meta
      name="twitter:description"
      content="지구를 지키는 작은 우산, 업브렐라를 펼쳐주세요! A Better Choice, UPbrella"
    />
    <meta name="twitter:image" content="https://upbrella.co.kr/assets/section3-af1c1a5c.png" />

    <link rel="canonical" href="https://upbrella.co.kr/" />

    <!-- Kakao Map -->
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%= kakaoKey %>&libraries=services"
    ></script>
    <!-- Naver Map  -->
    <script
      type="text/javascript"
      src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=<%= naverKey %>"
    ></script>

    <!-- Google Search Console -->
    <!-- prod -->
    <meta name="google-site-verification" content="Mo9YbI4CJNYoxU0553ZfKGfRKaqppv0qHZURHEOBcW8" />
    <!-- dev -->
    <meta name="google-site-verification" content="NVD0ArwvaFaD5fdvJVnH1rko0N-IB8D89wX6BS9-aPU" />
    <!-- Google Search Console End -->

    <!-- Naver Search Advisor -->
    <meta name="naver-site-verification" content="a9402b3e8ff6e7d11759d4cab99c768c10dcefd2" />
    <!-- Naver Search Advisor End -->
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5PKB9KPL"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
