.swiper {
  margin-left: 0;
  border-radius: 20px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  border-radius: 99px;
  background: rgba(255, 255, 255, 0.7);
  padding: 8px;
  background-image: url("../../../../shared/assets/chevron_right.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.swiper-button-prev {
  background-image: url("../../../../shared/assets/chevron_left.svg");
}
