.marker {
  width: 32px;
  height: 40px;
}

.marker-focus {
  width: 44px;
  height: 60px;
}

.marker-wrapper {
  display: flex;
  flex-direction: column;
  width: 32px;
  height: 40px;
  align-items: center;
  position: relative;
}

.marker-wrapper-focus {
  display: flex;
  flex-direction: column;
  width: 44px;
  height: 60px;
  align-items: center;
  position: relative;
}

.umbrella-count {
  position: absolute;
  z-index: 10;
  top: 15%;
  text-align: center;
  color: white;
  font-size: 14px;
}

.umbrella-count-focus {
  position: absolute;
  z-index: 10;
  top: 10%;
  text-align: center;
  color: white;
  font-size: 20px;
}

.custom-label {
  padding-top: 4px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  width: 150px;
}

.custom-label-focus {
  padding-top: 4px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  width: 150px;
}
