@font-face {
  font-family: "Pretendard JP";
  src: url("subset-PretendardJP-Regular.woff2") format("woff2"),
    url("subset-PretendardJP-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard JP";
  src: url("subset-PretendardJP-Bold.woff2") format("woff2"),
    url("subset-PretendardJP-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard JP";
  src: url("subset-PretendardJP-SemiBold.woff2") format("woff2"),
    url("subset-PretendardJP-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
